body {
  font-family: sans-serif;
}

svg {
  width: 60em;
  height: 30em;
  border: 0.1em solid black;
}

circle {
  fill: transparent;
  stroke: black;
  stroke-width: 0.02em;
}

g.samples circle {
  fill: black;
}
